body{
    background:lightgray;
    margin: 0;
    }
    div{
        box-sizing: border-box;
    }
header{
    background: white;
    padding: 10px;
    }
header h1{
    margin:0;
    }
div.post{
    background: white;
    margin-top: 50px;
}
div.post img{
    width: 100%;
}
div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}
div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    text-align: right;
    color: lightgray;
    padding: 10px;
}
div.container{
    width: 700px;
    margin:auto;
}
.extra-p{
    padding: 80px 0px; 
  }
.extra-line{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
